<html>
  <title>PB - Broadcast Messages</title>
  <%- include("../../EJScomp/bootstrap/nav", {user: user}); %> <%-
  include("../../EJScomp/bootstrap/secondNavDash", {user: user, guild: guild});
  %>
  <div class="container">
    <div class="header">
      <h1 style="text-align: center;">Broadcast</h1>
      <p>
        You can broadcast messages from a webbrowser! It also supports
        <b>markdown!</b>
      </p>
    </div>
    <div class="irc">
      <h2>Chat</h2>
      <div class="chatArea"><ul id="messages"></ul></div>
      <form action="">
        <div onload="fetchChannels()"><select id="channels"> </select></div>
        <input id="m" type="text" autocomplete="off" maxlength="18000" /><button
          class="btn btn-primary"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</html>
<script>
  var socket = io.connect("<%- env.server %>");
  socket.emit("fetchChannels", {
    guild: `<%- guild.id %>`
  });

  socket.on("channelsResp", d => {
    console.log(d);
    d.channels.forEach(c => {
      var doc = document.getElementById("channels");
      var node = document.createElement("option");
      node.id = c.id;
      node.value = c.id;
      var textnode = document.createTextNode(`#${c.name}`);
      node.appendChild(textnode);
      doc.appendChild(node);
      console.log(c.name);
    });
  });
  $(function() {
    $("form").submit(function() {
      $("#messages").append(
        $("<li>").text(`BOT [#${$("#channels").val()}]: ${$("#m").val()}`)
      );
      socket.emit("broadcast", {
        msg: $("#m").val(),
        channel: $("#channels").val(),
        guild: `<%- guild.id %>`
      });
      $("#m").val("");
      return false;
    });
    socket.on("chat message", function(msg) {
      console.log("sent 3 times from server");
      $("#messages").append($("<li>").text(`${msg.author}: ${msg.msg}`));
      window.scrollTo(0, document.body.scrollHeight);
    });
  });
  $("input[type=text]").change(function() {
    if ($("#m").val() == "") {
      $("button").attr("disabled", true);
    } else {
      $("button").attr("disabled", false);
    }
  });
</script>
