<html>
  <%- include("../../EJScomp/bootstrap/nav", {user: user}); %>
  <div class="subheading">
    <div class="guildIcon&Info">
      <div
        class="guildIcon"
        style="background-image: url('https://cdn.discordapp.com/icons/<%- guild.id %>/<%- guild.icon %>.jpg');"
      ></div>
      <span> <%- guild.name %></span>
    </div>
    <%- include("../../EJScomp/bootstrap/secondNavDash", {user: user, guild:
    guild}); %>
  </div>
  <!-- This is Default Page when they log in. The Configuration Page. It seems suitable for now but subject to change. -->
  <section class="config">
    <h1>Experience Database</h1>
    <p>
      This is your configuration Channel for the guild:
      <b> <%- guild.name %></b>! You can configure the settings to how you'd
      like.
    </p>
    <table class="table">
      <thead>
        <tr>
          <td>Username</td>
          <td>Profile Picture</td>
          <td>Level</td>
          <td>XP</td>
          <td>Add XP</td>
          <td>Remove XP</td>
        </tr>
      </thead>
      <tbody>
        <% guild.members.map(m => { %>
        <tr>
          <td><%- m.user.username %></td>
          <td>
            <img
              src="https://cdn.discordapp.com/avatars/<%- m.id %>/<%- m.user.avatar %>.png?size=32"
            />
          </td>
          <td>
            <% Bot.xpDB.ensure(`${guild.id}-${m.id}`, { user: m.id, guild:
            guild.id, points: 0, level: 0 }) %> <%-
            Bot.xpDB.get(`${guild.id}-${m.id}`, "level") %>
          </td>
          <td>
            <% Bot.xpDB.ensure(`${guild.id}-${m.id}`, { user: m.id, guild:
            guild.id, points: 0, level: 0 }) %> <%-
            Bot.xpDB.get(`${guild.id}-${m.id}`, "points") %>
          </td>
          <td>
            <button
              id="add"
              class="btn btn-success"
              onclick="changeXP(this)"
              value="<%-`${guild.id}-${m.id}`%>"
            >
              Add
            </button>
          </td>
          <td>
            <button
              id="subtract"
              class="btn btn-danger"
              onclick="changeXP(this)"
              value="<%-`${guild.id}-${m.id}`%>"
            >
              Subtract
            </button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
</html>
<script>
  function redirect(id) {
    window.location.href = `/dashboard/edit/<%- user.id %>/<%- guild.id %>/manage/${id}`;
  }
</script>

<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");

  * {
    font-family: Open Sans;
  }

  .subheading {
    background: #2b2f33;
  }

  .guildIcon {
    width: 35px;
    height: 35px;
    background-size: 35px;
    background-position: center;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid black;
  }

  .guildIcon\&Info {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: Open Sans, sans-serif;
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
  }

  .menu > li {
    border: 10px solid #2b2f33;
    padding: 20px;
    transition: 800ms ease all;
  }

  .menu > li:hover {
    cursor: pointer;
    outline: none;
    border-bottom-color: rgb(23, 184, 238);
  }

  .config {
    text-align: center;
  }
</style>
<script>
  var socket = io.connect("http://localhost:80");
  function changeXP(f) {
    const g = f.value;
    if (f.id == "add") {
      var amt = prompt(`Enter amount of xp to add.`, 10);
      console.log(amt);
      socket.emit("addXP", {
        xp: parseInt(amt),
        userID: "<%- user.id %>",
        guild: "<%- guild.id %>",
        key: f.value
      });
      window.location.reload(true);
    } else if (f.id == "subtract") {
      var amt = prompt(`Enter amount of xp to subtract.`, 10);
      socket.emit("subXP", {
        xp: parseInt(amt),
        userID: "<%- user.id %>",
        guild: "<%- guild.id %>",
        key: f.value
      });
      window.location.reload(true);
    } else {
      return console.error(
        "Couldn't Change XP. Refresh the page or create an issue at, https://github.com/AndyIsCool5463/discord-pick-bot/issues"
      );
    }
  }
</script>
