<html>
  <%- include("../../EJScomp/bootstrap/nav", {user: user}); %>
  <title>PB - Members</title>
  <%- include("../../EJScomp/bootstrap/secondNavDash", {user: user, guild:
  guild}); %>
  <!-- This is Default Page when they log in. The Configuration Page. It seems suitable for now but subject to change. -->
  <section class="config">
    <h1>Members List</h1>
    <p>
      This is your configuration Channel for the guild:
      <b> <%- guild.name %></b>! You can configure the settings to how you'd
      like.
    </p>
    <table class="table">
      <thead>
        <tr>
          <td>Username</td>
          <td>Profile Picture</td>
          <td>Role(s)</td>
          <td>Bannable?</td>
          <td>Kickable?</td>
          <td id="xpsys" onclick="redirect(this.id)">XP</td>
          <td>Ban</td>
        </tr>
      </thead>
      <tbody>
        <% guild.members.map(m => { %>
        <tr>
          <td><%- m.user.username %></td>
          <td>
            <img
              src="https://cdn.discordapp.com/avatars/<%- m.id %>/<%- m.user.avatar %>.png?size=32"
            />
          </td>
          <td><%- m.roles.map(c => { return ` ${c.name}`})%></td>
          <td><%- m.bannable %></td>
          <td><%- m.kickable %></td>
          <td>
            <% Bot.xpDB.ensure(`${guild.id}-${m.id}`, { user: m.id, guild:
            guild.id, points: 0, level: 0 }) %> <%-
            Bot.xpDB.get(`${guild.id}-${m.id}`, "points") %>
          </td>
          <td>
            <button
              class="btn btn-danger"
              onclick="ban(this.id)"
              id="<%- m.id %>"
            >
              Ban
            </button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
</html>
<script>
  function redirect(id) {
    window.location.href = `/dashboard/edit/<%- user.id %>/<%- guild.id %>/manage/${id}`;
  }
</script>

<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");

  * {
    font-family: Open Sans;
  }

  #xpsys {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: rgb(23, 184, 238);
  }
  #xpsys:hover {
    cursor: pointer;
  }
</style>
