<html>
  <%- include("../../EJScomp/bootstrap/nav", {user: user}); %>
  <title>PB - Members</title>
  <%- include("../../EJScomp/bootstrap/secondNavDash", {user: user, guild:
  guild}); %>
  <!-- This is Default Page when they log in. The Configuration Page. It seems suitable for now but subject to change. -->
  <section class="config">
    <div
      class="alert alert-success alert-dismissible fade show"
      id="suc"
      hidden
      role="alert"
    >
      Success! They have been banned!
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      class="alert alert-danger alert-dismissible fade show"
      id="dang"
      hidden
      role="alert"
    >
      Alert! I couldn't ban the user!
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1>Members List</h1>
    <p>
      This is your configuration Channel for the guild:
      <b> <%- guild.name %></b>! You can configure the settings to how you'd
      like.
    </p>
    <table class="table">
      <thead>
        <tr>
          <td>Username</td>
          <td>Profile Picture</td>
          <td>Role(s)</td>
          <td>Bannable?</td>
          <td>Kickable?</td>
          <td id="xpsys" onclick="redirect(this.id)">XP</td>
          <td>Ban</td>
        </tr>
      </thead>
      <tbody>
        <% guild.members.map(m => { %>
        <tr>
          <td
            data-toggle="modal"
            data-target="#userInfoModal"
            data-book-id="<%- m %>"
          >
            <%- m.user.username %>
          </td>
          <td>
            <img
              src="https://cdn.discordapp.com/avatars/<%- m.id %>/<%- m.user.avatar %>.png?size=32"
            />
          </td>
          <td><%- m.roles.map(c => { return ` ${c.name}`})%></td>
          <td><%- m.bannable %></td>
          <td><%- m.kickable %></td>
          <td>
            <% Bot.xpDB.ensure(`${guild.id}-${m.id}`, { user: m.id, guild:
            guild.id, points: 0, level: 0 }) %> <%-
            Bot.xpDB.get(`${guild.id}-${m.id}`, "points") %>
          </td>
          <td>
            <button
              class="btn btn-danger"
              id="bannr"
              onclick="ab('<%- m.id %>','<%- m.user.username %>')"
            >
              Ban
            </button>
            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="exampleModalLabel"
                      style="color: #6d6d6d"
                    >
                      Are you sure?
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div
                    class="modal-body"
                    style="color: #6d6d6d"
                    id="areyouSureBan"
                  >
                    Loading . . .
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                      onclick="ban(document.getElementById('abben').value)"
                    >
                      Ban
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
  <button
    id="abben"
    hidden
    data-toggle="modal"
    data-target="#exampleModal"
    onclick="a7()"
  ></button>
</html>
<%- include("../../EJScomp/bootstrap/customThemeLoader", {user: user}); %>
<script>
  $("#userInfoModal").on("show.bs.modal", function(e) {
    var bookId = $(e.relatedTarget).data("book-id");
    $(e.currentTarget)
      .find("#userTitle")
      .text(`User Info for: ${bookId}`);
  });
  var socket = io.connect("<%- env.server %>");
  function redirect(id) {
    window.location.href = `/dashboard/edit/<%- user.id %>/<%- guild.id %>/manage/${id}`;
  }
  function ab(ah, yb) {
    console.log(yb);
    document.getElementById("abben").click();
    document.getElementById("abben").setAttribute("value", ah);
    document.getElementById("abben").setAttribute("name", yb);
  }
  function a7() {
    setTimeout(ahu, 100);
  }
  async function ahu() {
    document.getElementById(
      "areyouSureBan"
    ).innerText = `Are you sure you want to ban, ${document
      .getElementById("abben")
      .getAttribute("name")}?`;
  }
  socket.on("banned", d => {
    $(`#${d.info}`).removeAttr("hidden");
  });
  function ban(id) {
    socket.emit("ban", {
      ban: id,
      userBanning: "<%- user.id %>",
      guild: "<%- guild.id %>"
    });
  }
</script>

<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");

  * {
    font-family: Open Sans;
  }

  #xpsys {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: rgb(23, 184, 238);
  }
  #xpsys:hover {
    cursor: pointer;
  }
</style>
