<html>
  <%- include("../../EJScomp/bootstrap/nav", {user: user}); %>
  <title>PB - <%- guild.name %> Dashboard</title>
  <%- include("../../EJScomp/bootstrap/secondNavDash", {user: user, guild:
  guild}); %>
  <!-- This is Default Page when they log in. The Configuration Page. It seems suitable for now but subject to change. -->
  <section class="config">
    <h1>Configuration</h1>
    <p>
      This is your configuration Channel for the guild:
      <b><%- guild.name %></b>! You can configure the settings to how you'd
      like.
    </p>
    <table class="table">
      <thead>
        <tr>
          <td>Server ID</td>
          <td>Prefix</td>
          <td>Welcome MSG enabled?</td>
          <td>XP System Enabled?</td>
          <td>Mod-Log Channel</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%- Bot.serverConfig.get(guild.id, "serverID")%></td>
          <td><%- Bot.serverConfig.get(guild.id, "prefix")%></td>
          <td><%- Bot.serverConfig.get(guild.id, "welcomeMessageEnabled")%></td>
          <td><%- Bot.serverConfig.get(guild.id, "xpSystem") %></td>
          <td>
            <% if(!Bot.serverConfig.get(guild.id, "modlog")){f = "None" }else{ f
            =`# ${Bot.channels.find("id", Bot.serverConfig.get(guild.id,
            "modlog")).name}` } %> <%- f %>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</html>
