<html>
  <%- include("../../EJScomp/bootstrap/nav", {user: user}); %>
  <title>PB - Dashboard Commands</title>

  <%- include("../../EJScomp/bootstrap/secondNavDash", {user: user, guild:
  guild}); %>
  <!-- This is Default Page when they log in. The Configuration Page. It seems suitable for now but subject to change. -->
  <section class="config">
    <h1>Commands</h1>
    <p>
      This is your configuration Channel for the guild:
      <b> <%- guild.name %></b>! You can configure the settings to how you'd
      like.
    </p>
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Alias</td>
          <td>Description</td>
          <td>Useage</td>
          <td>Category</td>
          <td>Permission Needed</td>
          <td>Disabled</td>
        </tr>
      </thead>
      <tbody>
        <% Bot.commands.forEach(c => { %>
        <tr>
          <td><%= c.help.name %></td>
          <td><%= c.help.alias %></td>
          <td><%= c.help.description %></td>
          <td><%= c.help.usage %></td>
          <td><%= c.help.category %></td>
          <td><%= c.help.permission %></td>
          <td><%= c.settings.disabled %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</html>
