<script src="/production/js/home.js"></script>
<html>
  <title>PB - Guild Selection</title>
  <%- include("../../EJScomp/bootstrap/nav", {user: user}); %>
  <div class="jumbotron">
    <h1 class="text-center">Pick Bot Dashboard</h1>
    <h1 class="text-center" id="welcomeMsg"></h1>
  </div>
  <body onload="timeGreet('<%- user.username %>');"></body>
  <div class="container">
    <h1 class="text-center">SELECT SERVER</h1>
    <div class="server_ico">
      <section id="guildSelect">
        <ul class="guildSelectGuilds">
          <% guilds.forEach(g => {%>
          <li onclick="redirect('<%- user.id %>',this.id)" id="<%- g.id %>">
            <%if(!g.iconURL) { %>
            <div class="guildNoIcon">
              <span> <%- g.name.match(/\b\w/g).join('') %></span>
            </div>
            <br /><span class="tooltiptext"> <%- g.name %></span> <%} else {%>
            <img
              onclick="redirect('<%- user.id %>',this.id)"
              id="<%- g.id %>"
              src="https://cdn.discordapp.com/icons/<%- g.id %>/<%- g.icon %>.png"
            />
            <br />
            <span class="tooltiptext"> <%- g.name %></span> <% } %>
          </li>
          <%})%>
          <li onclick="invite()">
            <div><i class="fas fa-plus"></i></div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</html>
<%- include("../../EJScomp/bootstrap/customThemeLoader", {user: user}); %>
<style>
  .server_ico {
    display: table;
    width: 100%;
    table-layout: fixed; /* For cells of equal size */
  }
  .server_ico > span {
    display: table-cell;
    border-radius: 64px;
    text-align: center;
  }
  .server_ico > span > img {
    display: table-cell;
    border-radius: 64px;
    text-align: center;
    transition: 800ms ease all;
  }
  .server_ico > span > img:hover {
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 10px 10px grey;
  }
  .guildNoIcon {
    background: rgb(31, 34, 37);
    color: rgb(254, 254, 255);
    border-radius: 50%;
    width: 128px;
    height: 128px;
    align-items: right;
  }
  .guildNoIcon > span {
    text-align: center;
  }
  .guildSelectGuilds {
    width: 70%;
    list-style: none;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .guildSelectGuilds > li {
    padding: 30px;
    transition: 800ms ease all;
    border: 1px solid white;
  }
  .guildSelectGuilds > li > img {
    border-radius: 50%;
  }
  .guildSelectGuilds > li:hover {
    cursor: pointer;
    border: 1px solid #303030;
  }
  .guildNoIcon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600px;
  }
</style>
